.keypad {
    display: flex;
    flex-direction: column;
    
}
.keypad button{
    width: 150px;
    height: 90px;
    margin: 20px;
    font-size: 32px;
    font-weight: bold;
    cursor: auto;
    animation: none;
    background-color: #8fffff;

}
.keypad .row{
    margin: 30px;
}
.keyClicked{
    background-color: #76c51c;
}
.channels {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recButton, .playButton{
    
    height: 30px;
    width: 150px;
    margin: 20px;
}
.acriveRec{
    background-color: rgb(255, 0, 0);
}